@page "/"
@using Agenda
@rendermode InteractiveServer

<PageTitle>Agenda</PageTitle>

<header class="d-flex justify-content-center">
    <div class="w-75 d-flex justify-content-between align-items-center">
        <h1 class="fw-bolder">Contatos</h1>
        <NavLink href="Cadastro" class="btn btn-primary">Cadastrar</NavLink>
    </div>
</header>
@if(contatos != null)
{
    <div class="row">
        @foreach(var contato in contatos)
        {
            if (IsEditing)
            {
                <div class="col flex-grow-0">
                    <div class="mt-5  p-3 border rounded-3">
                        <div class="d-flex"><p class="fw-bold me-3">Nome: </p> <input type="type" name="dados" @bind="@contato.Nome" /> </div>
                        <div class="d-flex"><p class="fw-bold me-3">Email: </p> <input type="type" name="dados" @bind="@contato.Email" /> </div>
                        <div class="d-flex"><p class="fw-bold me-3">Telefone: </p> <input type="type" name="dados" @bind="@contato.Telefone" /> </div>
                        <div class="d-flex justify-content-between">
                            <button @onclick="Salvar" class="btn btn-success">Salvar</button>
                            <button @onclick="() => RemoverContato(contato)" class="btn btn-danger">Excluir</button>
                        </div>
                    </div>
                </div>
            } else
            {
                <div class="col flex-grow-0">
                    <div class="mt-5  p-3 border rounded-3">
                        <div class="d-flex"><p class="fw-bold me-3">Nome: </p> <input type="type" name="dados" value="@contato.Nome" readonly /> </div>
                        <div class="d-flex"><p class="fw-bold me-3">Email: </p> <input type="type" name="dados" value="@contato.Email" readonly /> </div>
                        <div class="d-flex"><p class="fw-bold me-3">Telefone: </p> <input type="type" name="dados" value="@contato.Telefone" readonly /> </div>
                        <div class="d-flex justify-content-between">
                            <button @onclick="Editar" class="btn btn-success">Editar</button>
                            <button @onclick="() => RemoverContato(contato)" class="btn btn-danger">Excluir</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
else
{
    <h2>Nenhum contato cadastrado...</h2>
}

@code {
    List<Contato> contatos = ContatosManager.Contatos;
    private bool IsEditing { get; set; } = false;

    private void RemoverContato(Contato contato)
    {
        contatos.Remove(contato);
    }

    private void Editar()
    {
        IsEditing = true;
    }

    private void Salvar()
    {
        IsEditing = false;
    }
}
