@page "/"
@using Agenda
@rendermode InteractiveServer

<PageTitle>Agenda</PageTitle>

<div class="container">
    <header class="d-flex mb-4 justify-content-between align-items-center">
        <h1 class="fw-bolder">Contatos</h1>
        <NavLink href="Cadastro" class="btn btn-primary">Cadastrar</NavLink>
    </header>
    @if (contatos.Count > 0)
    {
        <div class="row">
            @foreach (var contato in contatos)
            {
                <div class="container">
                    <div class="mt-2 p-3 border rounded-3 cardContato">
                        @if (IsEditing && contato.Nome == contatoEmEdicao?.Nome)
                        {  
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex justify-content-between mt-3 mb-3">
                                        <p class="fw-bold me-3">Nome: </p>
                                        <input class="form-control w-auto" type="text" @bind="@contatoEmEdicao.Nome" />
                                    </div>
                                    <div class="d-flex justify-content-between mt-3 mb-3">
                                        <p class="fw-bold me-3">Email: </p>
                                        <input class="form-control w-auto" type="text" @bind="@contatoEmEdicao.Email" />
                                    </div>
                                    <div class="d-flex justify-content-between mt-3 mb-3">
                                        <p class="fw-bold me-3">Telefone: </p>
                                        <input class="form-control w-auto" type="text" @bind="@contatoEmEdicao.Telefone" />
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-2">
                                    <button @onclick="Salvar" class="btn btn-success">Salvar</button>
                                    <button @onclick="() => RemoverContato(contato)" class="btn btn-danger">Excluir</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex"><p class="fw-bold me-3">Nome: </p>@contato.Nome </div>
                                    <div class="d-flex"><p class="fw-bold me-3">Email: </p>@contato.Email</div>
                                    <div class="d-flex"><p class="fw-bold me-3">Telefone: </p>@contato.Telefone</div>
                                </div>
                                <div class="d-flex flex-column gap-2">
                                    <button @onclick="() => Editar(contato)" class="btn btn-success">Editar</button>
                                    <button @onclick="() => RemoverContato(contato)" class="btn btn-danger">Excluir</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="d-flex flex-column align-items-center">
            <h2 class="d-flex justify-content-center mt-5">Nenhum contato cadastrado...</h2>
            <img src="./images/semContato.png" width="25%" height="auto" alt="teste" />
        </div>
    }
</div>

@code {
    List<Contato> contatos = ContatosManager.Contatos;
    private bool IsEditing { get; set; } = false;
    private Contato? contatoEmEdicao;

    private void RemoverContato(Contato contato)
    {
        contatos.Remove(contato);
    }

    private void Editar(Contato contato)
    {
        IsEditing = true;
        contatoEmEdicao = contato;
    }

    private void Salvar()
    {
        IsEditing = false;
    }
}
